.navbar {
  position: relative;
  z-index: 10;
}

/* Styles for the hamburger icon */
.hamburger {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40px;
  height: 30px;
  background-color: #333;
  border-radius: 4px;
  z-index: 9;
  transition: background-color 0.3s;
  padding: 5px 7px;
  opacity: 0.7;
}

.hamburger:hover {
  background-color: #000000;
}

/* Individual lines in the hamburger icon */
.line {
  background-color: #a5a5a5;
  height: 2px;
  width: 40px;
  border-radius: 2px;
  transition: 0.3s;

  /* border: 1px solid red; */
}

/* Styles for the side nav bar */
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  color: white;
  overflow-x: hidden;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.sidenav.open {
  transform: translateX(0);
}

/* Logo or Brand Section */
.sidenav .logo {
  padding: 20px;
  text-align: center;
  background-color: #222;
  border-bottom: 1px solid #444;
}

.sidenav .logo img {
  height: 50px;
  width: auto;
}

.sidenav .logo h1 {
  margin: 10px 0 0;
  font-size: 20px;
  color: #fff;
}

/* Dropdown link styles */
.dropdown-link {
  color: #ccc;
  text-decoration: none;
  padding: 15px 20px;
  border-bottom: 1px solid #333;
  display: flex;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

.dropdown-link:hover {
  background-color: #575757;
  color: #fff;
}

/* Add a hover effect for the active link */
.dropdown-link.active {
  background-color: #444;
  color: #fff;
}

/* Responsive styles */
@media (max-width: 768px) {
  .sidenav {
      width: 60vw;
      /* Adjust width for smaller screens */
  }

  .hamburger {
      top: 10px;
      left: 10px;
      width: 35px;
      height: 25px;
  }

  .line {
      width: 35px;
      height: 3px;
  }
}
